.searchWrap {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) * var(--line-height));
}

.section {
  margin-top: calc(var(--spacer) * 2);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.section [class*='button'] {
  margin-top: var(--spacer);
}

.homeSearchButton {
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-right: calc(var(--spacer) / 6);
  margin-bottom: calc(var(--spacer) / 6);
  color: var(--color-secondary);
  background: var(--background-content);
  /* the only thing not possible to overwrite button style="text" with more specifity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 6) !important;
}

.homeSearchButton:hover,
.homeSearchButton:focus {
  color: var(--font-color-text);
  background: inherit;
  transform: none;
}

.homeSearchButton.selected {
  color: var(--background-body);
  background: var(--font-color-text);
  border-color: var(--background-body);
}

.homeSearchButton.selected::after {
  content: '✕';
  margin-left: calc(var(--spacer) / 6);
  color: var(--background-body);
}

.homeSearchButtonDiv {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacer) / 3);
  padding-right: calc(var(--spacer) / 3);
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .homeSearchButtonDiv {
    padding-left: calc(var(--spacer) / 0.33);
    padding-right: calc(var(--spacer) / 0.33);
  }
}
